extends ../layouts/common

block content
  .container.pt-5
    .heading.d-flex.align-items-center
      h1 Books
      .ml-auto(class= user ? (user.isAdmin ? 'd-none' : '') : '')
        .hire.ml-auto.d-flex.align-items-center(class= user ? (user.isAdmin ? 'd-none' : '') : '')
          span.text-success Cart (#{count ? count : 0})
          form(action="/transactions/create", method="POST")
            button.btn.btn-success.ml-2 Hire
    table.table.table-bordered.my-3(class= user ? (user.isAdmin ? '' : 'd-none') : 'd-none')
      tr
        th Book cover
        th Book title
        th Description
        th.text-center(colspan="2") Action
      each book in books
        tr
          td
            if book.coverUrl
              img.rounded(src= book.coverUrl width="64" height="64")
            else
              img.rounded(src="https://res.cloudinary.com/dkh65bchm/image/upload/v1587720347/default-book_gwqxgy.jpg" width="64" height="64")
          td= book.title
          td= book.description
          td.text-center
            a.btn.btn-info(href="/books/" + book.id + "/update") Update cover book
          td.text-center
            a.btn.btn-danger(href="/books/" + book.id + "/delete") Delete
    .container(class= user ? (user.isAdmin ? 'd-none' : '') : '')
      .pt-5.d-flex.flex-wrap
        each book in books
          .col-6.col-lg-3.my-2
            .card
              if book.avatar
                img.w-100(src= book.coverUrl)
              else
                img.w-100(src="https://res.cloudinary.com/dkh65bchm/image/upload/v1587720347/default-book_gwqxgy.jpg")
              .card-body
                h5.card-title=book.title
                p.card-text=book.description
                a.btn.btn-primary(href='/cart/add/' + book.id) Go to cart

    
    .container(class= user ? (user.isAdmin ? '' : 'd-none') : 'd-none')
      h3 Add book  

      form(method="POST")
         .form-group
            lable Title:
            input.form-control(type="text", name="title", style="width:350px")
            lable Description:
            input.form-control(type="text", name="description", style="width:350px")
         button.btn.btn-success Add
